// UTILITIES

.logo {
    width: 250px;
}

.title {
    text-transform: uppercase;
    font-size: 3em;
}

.list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 1rem 0;
    li {
        margin: 0 1rem 0;
    }
}
